/* Unrelated to chessground; only for the examples page */

body {
  background-image: linear-gradient(to bottom, #2c2c2c, #2a2a2a 116px);
  color: #b0b0b0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

a {
  color: #bbbbdd;
  text-decoration: none;
}

h2 {
  text-align: center;
}

select,
input {
  margin: 4px;
  background-color: black;
  color: #cccccc;
}

#Search {
  background-color: lightgrey;
  color: black;
}

.explorer {
  width: 30px;
  height: 30px;
}

.inputs {
  background-color: #222;
  border-radius: 3px;
  padding: 2px;
  margin: 2px 2px;
}

.all {
  display: grid;
  grid-template-columns: 50% 50%;
}
